In [65]:


import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime
import torch
import random

In [66]:


purchase_df = pd.read_csv('robi-datathon-30-qualifier-problem-3/purchase.csv')
boxes_df = pd.read_csv('robi-datathon-30-qualifier-problem-3/boxes.csv')

In [67]:
purchase_df.head()

  PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT
0      1/2/2019  2CED678A247    12.0        1.0
1      1/2/2019  2BF58D91BA1    12.0        1.0
2      1/2/2019  2C15B86534E    99.0        1.0
3      1/2/2019  2C32D9A859A     6.0        1.0
4      1/2/2019  2C7A55404D1     4.0        1.0

In [68]:
base_date = datetime.date(2018, 10, 1)
purchase_df['day'] = purchase_df['PURCHASE_DATE'].apply(lambda x: (datetime.datetime.strptime(x, '%d/%m/%Y').date() - base_date).days)

In [69]:
purchase_df.sample(10)

        PURCHASE_DATE    MAGIC_KEY  BOX_ID  BOX_COUNT  day
2186910     8/10/2018  292A1818549   247.0        1.0    7
314065      16/2/2019  2C16D8245E1   130.0        1.0  138
1044656     28/1/2019  2CAD8A40A0E   106.0        1.0  119
1906929    22/11/2018  2CCABEFBFA2    89.0        1.0   52
1147001     2/12/2018  2BCA84A1B8E   143.0        1.0   62
558019      28/2/2019  2CD574E8AB9   119.0        1.0  150
87741        5/2/2019  2C2B08A4208    94.0        1.0  127
1763381     8/11/2018  28DAF80ECDB   255.0        1.0   38
676709       5/1/2019  2BDFDE3FBA6   106.0        1.0   96
58683        3/2/2019  2BF4F656140   119.0        1.0  125

In [70]:
purchase_df.drop(['PURCHASE_DATE'], axis=1, inplace=True)

In [71]:
customer_keys = purchase_df['MAGIC_KEY'].unique()
customer_ids = {customer_keys[i]: i for i in range(len(customer_keys))}

In [72]:
purchase_df.drop(purchase_df[purchase_df['BOX_ID'].isnull()].index, inplace=True)
purchase_df.drop(purchase_df[purchase_df['BOX_COUNT'] < 0].index, inplace=True)

In [73]:
purchase_df['BOX_COUNT'] = purchase_df['BOX_COUNT'].astype(int)
purchase_df['BOX_ID'] = purchase_df['BOX_ID'].astype(int)

In [74]:
purchase_df.head(10)

     MAGIC_KEY  BOX_ID  BOX_COUNT  day
0  2CED678A247      12          1  123
1  2BF58D91BA1      12          1  123
2  2C15B86534E      99          1  123
3  2C32D9A859A       6          1  123
4  2C7A55404D1       4          1  123
5  29D969045C2     238          1  123
6  28E5EA49074     227          1  123
7  2CEFA3A8659       6          1  123
8  2A00DE30F46     204          1  123
9  291C04B5CBF     231          1  123

In [75]:
len(purchase_df['MAGIC_KEY'].unique())

1274087

In [76]:
len(purchase_df)

2455800

In [77]:
purchases = [[] for _ in range(len(customer_keys))]
purchase_df.apply(lambda x: purchases[customer_ids[x['MAGIC_KEY']]].append((x['BOX_ID'], x['BOX_COUNT'], x['day'])), axis=1)

0          None
1          None
2          None
3          None
4          None
           ...
2455859    None
2455860    None
2455861    None
2455862    None
2455863    None
Length: 2455800, dtype: object

In [78]:
prob3_df =pd.read_csv('robi-datathon-30-qualifier-problem-3/problem 3.csv')
prob3_df.head()

     MAGIC_KEY
0  2BCFE9C06A7
1  2C2A872B5A2
2  2C6A897671B
3  2C6F1287F53
4  2C658198CC9

In [79]:
len(prob3_df)

5379

In [80]:
prob3_customers = [customer_ids[x] for x in prob3_df['MAGIC_KEY'].unique()]
len(prob3_customers)

5379

In [81]:
for i, _ in enumerate(purchases):
    purchases[i].sort(key=lambda x: x[2])

In [82]:
a = 10
b = 10
print("single purchase: ")
for i, p in enumerate(purchases):
    if len(p) == 1:
        if a > 0:
            print(i, p)
            a -= 1

print("more than 5 purchase: ")
for i, p in enumerate(purchases):
    if len(p) > 5:
        if b > 0:
            print(i, p)
            b -= 1

single purchase:
0 [(12, 1, 123)]
1 [(12, 1, 123)]
3 [(6, 1, 123)]
4 [(4, 1, 123)]
6 [(227, 1, 123)]
7 [(6, 1, 123)]
10 [(12, 1, 123)]
11 [(231, 1, 123)]
13 [(278, 1, 123)]
16 [(231, 1, 123)]
more than 5 purchase:
5 [(238, 1, 14), (238, 1, 36), (238, 1, 56), (238, 1, 80), (238, 1, 100), (238, 1, 123)]
14 [(203, 1, 35), (203, 1, 53), (203, 1, 63), (221, 1, 72), (203, 1, 81), (203, 1, 87), (238, 1, 97), (204, 1, 123), (204, 1, 135), (272, 1, 150)]
38 [(8, 1, 15), (8, 1, 30), (8, 1, 60), (8, 1, 82), (8, 1, 104), (8, 1, 123)]
39 [(238, 1, 20), (238, 1, 44), (268, 1, 54), (238, 1, 67), (238, 1, 76), (238, 1, 89), (238, 1, 98), (238, 1, 105), (228, 1, 123), (238, 1, 129), (238, 1, 133), (238, 1, 138), (238, 1, 142), (230, 1, 147), (238, 1, 150)]
42 [(260, 1, 8), (203, 1, 23), (221, 1, 38), (221, 1, 65), (271, 1, 84), (272, 1, 104), (221, 1, 123), (276, 1, 145)]
43 [(137, 1, 6), (137, 1, 23), (137, 1, 42), (137, 1, 62), (137, 1, 79), (174, 1, 97), (174, 1, 123)]
44 [(238, 1, 18), (238, 1, 102), (228, 1, 108), (228, 1, 115), (228, 1, 118), (228, 1, 120), (228, 1, 123), (228, 1, 125), (230, 1, 129), (230, 1, 134), (230, 1, 137), (230, 1, 139), (230, 1, 141), (230, 1, 145), (230, 1, 148)]
47 [(106, 1, 41), (103, 1, 71), (106, 1, 101), (106, 1, 112), (106, 1, 123), (106, 1, 132)]
48 [(106, 1, 18), (106, 1, 40), (103, 1, 71), (106, 1, 100), (106, 1, 123), (108, 1, 150)]
51 [(89, 1, 24), (89, 1, 50), (89, 1, 70), (89, 1, 80), (89, 1, 90), (89, 1, 94), (89, 1, 105), (89, 1, 123), (9, 1, 139)]

In [83]:
boxes_df.head(10)

   BOX_ID  QUALITY      DELIVERY_OPTION  MILK  MEAT  UNIT_PRICE
0       1  Premium  Home Delivery - CoD   0.0   2.7        9.96
1       2  Premium  Home Delivery - CoD   0.0   2.3       11.96
2       3  Premium  Home Delivery - CoD   0.0   2.4       11.96
3       4  Premium  Home Delivery - CoD   0.0   2.5       11.96
4       5  Premium  Home Delivery - CoD   0.0   2.6       11.96
5       6  Premium  Home Delivery - CoD   0.0   2.7       11.96
6       7  Premium  Home Delivery - CoD   0.0   2.8       11.96
7       8  Premium  Home Delivery - CoD  10.0   0.0       12.18
8       9  Premium  Home Delivery - CoD  10.5   0.0       12.78
9      10  Premium  Home Delivery - CoD   8.0   1.3       12.98

In [84]:
len(boxes_df)

290

In [85]:
def meat_consumed(cid, start_day, end_day):
    boxes = filter(lambda x: x[2] >= start_day and x[2] < end_day, purchases[cid])
    meat_consumed = 0
    for id, cnt, _ in boxes:
        meat_consumed += cnt * boxes_df.at[id - 1, 'MEAT']
    return meat_consumed

def milk_consumed(cid, start_day, end_day):
    boxes = filter(lambda x: x[2] >= start_day and x[2] < end_day, purchases[cid])
    milk_consumed = 0
    for id, cnt, _ in boxes:
        milk_consumed += cnt * boxes_df.at[id - 1, 'MILK']
    return milk_consumed


def meat_consumption_rate(cid):
    end_day = 151
    consumptions = list(filter(lambda x: x[2] < end_day and boxes_df.at[x[0] - 1, 'MEAT'] > 0.0, purchases[cid]))
    if len(consumptions) == 0:
        return 0.0
    start = consumptions[0][2]
    return meat_consumed(cid, start, end_day) / (end_day - start)

def milk_consumption_rate(cid):
    end_day = 151
    consumptions = list(filter(lambda x: x[2] < end_day and boxes_df.at[x[0] - 1, 'MILK'] > 0.0, purchases[cid]))
    if len(consumptions) == 0:
        return 0.0
    start = consumptions[0][2]
    return milk_consumed(cid, start, end_day) / (end_day - start)

In [86]:
last_day = purchase_df['day'].max()
last_day

150

In [87]:
last_date = datetime.date(2019, 2, 28)
(last_date - base_date).days

150

In [88]:
first_day = purchase_df['day'].min()
first_day

0

In [89]:
meat_consumption_rate(0)

0.05357142857142857

In [90]:
def last_meat_consumption(cid, end_day=151):
    consumptions = list(filter(lambda x: x[2] < end_day and boxes_df.at[x[0] - 1, 'MEAT'] > 0.0, purchases[cid]))
    try:
        bid, cnt, day = consumptions[-1]
    except:
        return None
    return [cnt * boxes_df.at[bid - 1, 'MEAT'], 
            end_day - day]
last_meat_consumption(3588, 150)

[4.4, 27]

In [91]:
split = int(len(purchases) * 0.1)
idx = [i for i in range(len(purchases))]
random.shuffle(idx)
val_idx = idx[:split]
train_idx = idx[split:]

def generate_batch(day, batch_size, split='train'):
    batch = []
    labels = []
    n = 0
    if split == 'train':
        random.shuffle(train_idx)
        current_idx = train_idx
    else:
        random.shuffle(val_idx)
        current_idx = val_idx
    for cid in current_idx:
        if len(purchases[cid]) < 2:
            continue
        last_meat = last_meat_consumption(cid, day)
        if last_meat is not None:
            rate1 = meat_consumption_rate(cid)
            rate2 = milk_consumption_rate(cid)
            next_meat = meat_consumed(cid, day, day + 15)
            if next_meat > 0.0:
                features = [rate1, rate2]
                features.extend(last_meat)
                batch.append(features)
                labels.append(next_meat)
                n += 1
                if split=='train' and n == batch_size:
                    return batch, labels
    if split == 'train':
        return None, None
    else:
        return batch, labels
batch, labels = generate_batch(15, 10)
print(batch)
print(labels)

[[0.024657534246575342, 0.2191780821917808, 1.8, 10], [0.09337748344370862, 0.6754966887417219, 1.8, 15], [0.024657534246575342, 0.2191780821917808, 1.8, 10], [0.07655172413793103, 0.0, 3.6, 9], [0.03377483443708609, 0.10596026490066225, 1.8, 15], [0.07567567567567568, 0.0, 2.7, 12], [0.09375, 0.625, 1.3, 8], [0.1221476510067114, 0.3221476510067114, 1.8, 13], [0.03768115942028986, 0.2971014492753623, 1.6, 2], [0.08169014084507044, 0.676056338028169, 1.8, 6]]
[1.8, 1.8, 1.8, 3.5, 3.3, 3.6, 1.8, 4.0, 1.8, 1.8]

In [92]:
import gc

class MeatPredictor(torch.nn.Module):
    def __init__(self):
        super(MeatPredictor, self).__init__()
        self.mlp = torch.nn.Sequential(
            torch.nn.Linear(4, 64),
            torch.nn.ReLU(),
            torch.nn.Linear(64, 128),
            torch.nn.ReLU(),
            torch.nn.Linear(128, 64),
            torch.nn.ReLU(),
            torch.nn.Linear(64, 1), 
            torch.nn.ReLU()
        )
    def forward(self, x):
        return self.mlp(x).reshape(-1)

model = MeatPredictor().cuda()
model(torch.tensor(batch, dtype=torch.float32).cuda())

tensor([1.5466, 2.4872, 1.5466, 1.1121, 2.4628, 1.7867, 1.2673, 2.1026, 0.0975,
        0.8413], device='cuda:0', grad_fn=<ViewBackward0>)

In [93]:


torch.cuda.empty_cache()
gc.collect()

loss_fn = torch.nn.MSELoss()
optimizer = torch.optim.Adam(model.parameters(), lr=0.001)
best_loss = 1e9
batch_size = 64
epochs = 2000

val, val_labels = generate_batch(136, split, 'val')
val = torch.tensor(val, dtype=torch.float32).cuda()
val_labels = torch.tensor(val_labels, dtype=torch.float32).cuda()

for epoch in range(epochs):
    batch, labels = generate_batch(random.randint(70, 136), batch_size)
    if batch is None:
        continue
    batch = torch.tensor(batch, dtype=torch.float32).cuda()
    labels = torch.tensor(labels, dtype=torch.float32).cuda()
    optimizer.zero_grad()
    outputs = model(batch)
    loss = loss_fn(outputs, labels)
    loss.backward()
    optimizer.step()
    if epoch % 10 == 0:
        print(epoch, loss.item())
    if epoch % 20 == 0:
        val_outputs = model(val)
        val_loss = loss_fn(val_outputs, val_labels)
        print("Validation loss: ", val_loss.item())
        if val_loss.item() < best_loss:
            torch.save(model.state_dict(), 'meat_predictor.pth')
            best_loss = val_loss.item()

model.load_state_dict(torch.load('meat_predictor.pth'))

0 9.38676929473877
Validation loss:  35.77566146850586
10 12.606657981872559
20 2.4572548866271973
Validation loss:  3.8805131912231445
30 3.5723400115966797
40 3.325395345687866
Validation loss:  3.659686803817749
50 3.0149009227752686
60 1.9966638088226318
Validation loss:  3.783442974090576
70 1.3174002170562744
80 2.331120491027832
Validation loss:  2.9084737300872803
90 1.8997175693511963
100 3.1019058227539062
Validation loss:  2.7042176723480225
110 1.5167392492294312
120 1.3443533182144165
Validation loss:  2.0388729572296143
130 1.6298325061798096
140 0.925134003162384
Validation loss:  1.6237194538116455
150 0.8593209981918335
160 1.2267444133758545
Validation loss:  1.5867784023284912
170 0.5649392604827881
180 0.4686717987060547
Validation loss:  0.9630466103553772
190 0.22463130950927734
200 0.5144667029380798
Validation loss:  0.733742892742157
210 0.22954094409942627
220 0.4511116147041321
Validation loss:  0.6748250722885132
230 0.24186798930168152
240 0.624718189239502
Validation loss:  0.6590007543563843
250 0.14340586960315704
260 0.3851534426212311
Validation loss:  0.6161171197891235
270 0.27792733907699585
280 0.23440194129943848
Validation loss:  0.5976564884185791
290 0.2814096212387085
300 0.2552070617675781
Validation loss:  0.5829893946647644
310 0.1930161863565445
320 0.21317026019096375
Validation loss:  0.573514461517334
330 0.2169259488582611
340 0.23484349250793457
Validation loss:  0.5667976140975952
350 0.2813326120376587
360 0.16985668241977692
Validation loss:  0.5654296278953552
370 0.19987303018569946
380 0.3582778871059418
Validation loss:  0.5436537265777588
390 0.3650999665260315
400 0.24984493851661682
Validation loss:  0.5420234799385071
410 0.1851814240217209
420 0.253418892621994
Validation loss:  0.5453563928604126
430 0.15574392676353455
440 0.21304833889007568
Validation loss:  0.5275339484214783
450 0.21873046457767487
460 0.1394350826740265
Validation loss:  0.528017520904541
470 0.2841336727142334
480 0.06984253972768784
Validation loss:  0.5191048383712769
490 0.309139609336853
500 0.18773868680000305
Validation loss:  0.516796886920929
510 0.1804424524307251
520 0.2707716226577759
Validation loss:  0.5165072679519653
530 0.17917689681053162
540 0.18843212723731995
Validation loss:  0.5136527419090271
550 0.21842801570892334
560 0.2110222727060318
Validation loss:  0.5060579180717468
570 0.1362631916999817
580 0.36851823329925537
Validation loss:  0.503775954246521
590 0.14837224781513214
600 0.23973529040813446
Validation loss:  0.514723539352417
610 0.1826411634683609
620 0.14299802482128143
Validation loss:  0.5013826489448547
630 0.20287975668907166
640 0.1730441302061081
Validation loss:  0.5009300112724304
650 0.056595541536808014
660 0.2655982971191406
Validation loss:  0.4959865212440491
670 0.17174413800239563
680 0.1953251212835312
Validation loss:  0.4975253939628601
690 0.30420923233032227
700 0.21346542239189148
Validation loss:  0.4957665503025055
710 0.19106847047805786
720 0.17723967134952545
Validation loss:  0.49405166506767273
730 0.15326693654060364
740 0.10873067378997803
Validation loss:  0.4960981011390686
750 0.28143802285194397
760 0.14377760887145996
Validation loss:  0.4967425763607025
770 0.3034423887729645
780 0.17521917819976807
Validation loss:  0.49624112248420715
790 0.21400907635688782
800 0.21508532762527466
Validation loss:  0.4874022603034973
810 0.1559395045042038
820 0.12162710726261139
Validation loss:  0.49467799067497253
830 0.17167437076568604
840 0.28271520137786865
Validation loss:  0.4863932132720947
850 0.30488020181655884
860 0.1947161704301834
Validation loss:  0.48616090416908264
870 0.17875869572162628
880 0.3019619882106781
Validation loss:  0.49401694536209106
890 0.17932835221290588
900 0.16375437378883362
Validation loss:  0.4863314926624298
910 0.16857728362083435
920 0.39225393533706665
Validation loss:  0.5027822852134705
930 0.28263232111930847
940 0.2215103954076767
Validation loss:  0.4837930500507355
950 0.30399638414382935
960 0.2949365973472595
Validation loss:  0.484813928604126
970 0.07809096574783325
980 0.20678335428237915
Validation loss:  0.48464837670326233
990 0.17790941894054413
1000 0.19238270819187164
Validation loss:  0.48422518372535706
1010 0.11783018708229065
1020 0.25286269187927246
Validation loss:  0.4853837192058563
1030 0.29062291979789734
1040 0.5555498003959656
Validation loss:  0.49362173676490784
1050 0.16119858622550964
1060 0.24209442734718323
Validation loss:  0.48983678221702576
1070 0.2307353913784027
1080 0.2991834878921509
Validation loss:  0.48294466733932495
1090 0.19822853803634644
1100 0.2129461020231247
Validation loss:  0.48725277185440063
1110 0.07843037694692612
1120 0.1855902373790741
Validation loss:  0.4819509983062744
1130 0.11436983942985535
1140 0.18641391396522522
Validation loss:  0.48168662190437317
1150 0.15313169360160828
1160 0.18781253695487976
Validation loss:  0.4817460775375366
1170 0.16968359053134918
1180 0.16859367489814758
Validation loss:  0.4892927408218384
1190 0.16969159245491028
1200 0.14558565616607666
Validation loss:  0.48655974864959717
1210 0.25976815819740295
1220 0.13291169703006744
Validation loss:  0.48693811893463135
1230 0.2756637930870056
1240 0.2827807366847992
Validation loss:  0.4816771447658539
1250 0.19655819237232208
1260 0.375114381313324
Validation loss:  0.48159101605415344
1270 0.20048192143440247
1280 0.486977756023407
Validation loss:  0.48693394660949707
1290 0.16712328791618347
1300 0.1895514875650406
Validation loss:  0.48227715492248535
1310 0.2681378126144409
1320 0.20903435349464417
Validation loss:  0.48655983805656433
1330 0.1813315898180008
1340 0.10895495116710663
Validation loss:  0.4889450967311859
1350 0.20637820661067963
1360 0.19691801071166992
Validation loss:  0.5052977800369263
1370 0.20380127429962158
1380 0.0997527539730072
Validation loss:  0.5117643475532532
1390 0.1960238367319107
1400 0.23652248084545135
Validation loss:  0.5005863904953003
1410 0.14006200432777405
1420 0.5608348250389099
Validation loss:  0.4814322888851166
1430 0.2952580749988556
1440 0.17710129916667938
Validation loss:  0.48858585953712463
1450 0.11852304637432098
1460 0.3404545783996582
Validation loss:  0.48142263293266296
1470 0.2165469229221344
1480 0.14595955610275269
Validation loss:  0.4921148717403412
1490 0.2255765050649643
1500 0.19515331089496613
Validation loss:  0.4893718361854553
1510 0.22386687994003296
1520 0.21936151385307312
Validation loss:  0.48282352089881897
1530 0.12996616959571838
1540 0.22848640382289886
Validation loss:  0.4795803427696228
1550 0.3152827024459839
1560 0.2494071125984192
Validation loss:  0.4802599847316742
1570 0.21391552686691284
1580 0.29044482111930847
Validation loss:  0.4963812232017517
1590 0.25397932529449463
1600 0.17514649033546448
Validation loss:  0.47989216446876526
1610 0.16861438751220703
1620 0.2797154486179352
Validation loss:  0.48689407110214233
1630 0.28537750244140625
1640 0.165360227227211
Validation loss:  0.47865551710128784
1650 0.20167414844036102
1660 0.30156368017196655
Validation loss:  0.47955322265625
1670 0.17554043233394623
1680 0.15075340867042542
Validation loss:  0.4869919419288635
1690 0.1991734504699707
1700 0.25054430961608887
Validation loss:  0.48297205567359924
1710 0.17278623580932617
1720 0.23497092723846436
Validation loss:  0.48799604177474976
1730 0.08705411851406097
1740 0.10719866305589676
Validation loss:  0.47781845927238464
1750 0.2814136743545532
1760 0.1574474424123764
Validation loss:  0.5219341516494751
1770 0.14903880655765533
1780 0.19534607231616974
Validation loss:  0.4826095402240753
1790 0.19968631863594055
1800 0.27759671211242676
Validation loss:  0.5311418175697327
1810 0.22501951456069946
1820 0.1709962636232376
Validation loss:  0.4956477880477905
1830 0.22058644890785217
1840 0.13515493273735046
Validation loss:  0.47706183791160583
1850 0.1331477016210556
1860 0.2931002676486969
Validation loss:  0.47628575563430786
1870 0.15025939047336578
1880 0.1670854389667511
Validation loss:  0.4766666889190674
1890 0.23524731397628784
1900 0.11746299266815186
Validation loss:  0.4791117310523987
1910 0.2463846653699875
1920 0.20548973977565765
Validation loss:  0.4755479097366333
1930 0.30182981491088867
1940 0.14795485138893127
Validation loss:  0.49042442440986633
1950 0.13713447749614716
1960 0.15471859276294708
Validation loss:  0.4750223755836487
1970 0.14471891522407532
1980 0.278221070766449
Validation loss:  0.47600728273391724
1990 0.06994295865297318

In [94]:
print("best loss: ", best_loss)

best loss:  0.4750223755836487

In [95]:
def predict(cid, day):
    rate1 = meat_consumption_rate(cid)
    rate2 = milk_consumption_rate(cid)
    last_meat = last_meat_consumption(cid, day)
    if last_meat is not None:
        features = [rate1, rate2]
        features.extend(last_meat)
        return model(torch.tensor(features, dtype=torch.float32).cuda()).item()
    return 0.0

In [96]:

data = []
for cid in prob3_customers:
    data.append({
        'MAGIC_KEY': customer_keys[cid],
        'MEAT': predict(cid, 151)
    })
sub_df = pd.DataFrame(data, columns=['MAGIC_KEY', 'MEAT'])
sub_df.to_csv('submission.csv', index=False)